    hr {
        border-top: 2px solid black;
        margin-top: 40px;
        padding-top: 40px;
        background-color: white;
    }
    .body h1 {
        margin: 20px 0; /* same as paragraph spacing */
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
        line-height: 1.25em;
    }

    .body .content h1 {
      border-bottom: none;
      padding-bottom: 0;
    }

    .body .content h1, .body .content h2, .body .content h3, .body .content h4
    .body .content h5, .body .content h6 {
      margin-top: 15px;
      margin-bottom: 15px;
      color: #333;
    }

    .body .line-group {
        /* Add additional vertical spacing between groups. */
        padding: 5px 0;
    }

    .body .line {
        /* Paragraph spacing. */
        margin: 0 0 20px;
    }

    .body .level-num, .body .level-heading {
        /* Bold numbering and headings. */
        font-weight: bold;
        color: #666;
    }

    .body table {
        /* Override reset.css which sets with to 100%, which
           makes textual tables appear weirdly wide. */
        width: auto;
    }

    .body table caption {
        border-bottom: 1px solid #d5d5d5;
        font-weight: bold;
    }

    .body table th, .body table td {
        text-indent: 0; /* override */
        padding-right: 1.5em;
        padding-bottom: .25em;
        font-size: 14px; /* tables tend to be very wide */
    }

.body .annotations {
    border-top: 1px solid #ccc;
    padding-top: 20px; /* same as paragraph spacing */
    padding-bottom: 20px; /* same as paragraph spacing */
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-bottom: 20px; /* same as paragraph spacing, in case content follows such as deeply rendered chapters */
    background: #eee;
    color: #666;
}

.subheading {
    margin-bottom: 0;
    line-height: 1.67em;
    font-weight: bold
}

.form {
    max-width: 50em;
    margin: 1em;
    padding: 1em;
    border: 1px solid #ccc;
    background: #eee;
}
.form p {
    margin: 0;
}

.form p span {
    white-space: pre-wrap;
}

.line {
    margin-top: 10px;
}

.line:first-child {
    margin-top: 0;
}

.subheading {
    margin: 1em 0;
}

@media only screen and (max-width: 640px) {
    .annotations .line {
        padding-left: 0 !important;
    }
}

.child-link.placeholder a {
    color: rgba(90,160,190,.9);
}
.child-link.placeholder .range {
    color: #777;
}

.text-indent-1 {
  text-indent: 1.25em !important;
}

.text-indent-2 {
  text-indent: 2.5em !important;
}

.text-indent-3 {
  text-indent: 3.75em !important;
}

.line-group h5 {
  font-weight: normal;
}

.line-group.toc > a {
  margin-bottom: 20px;
  display: block;
}

.line-group.toc.child-link > a:first-child {
  margin-top: 0;
}

.line-group.toc.child-link > a {
  margin-bottom: 5px;
  margin-top: 20px;
}

.line-group.toc.child-link > p {
  font-size: 80%;
  color: #444;
  display: block;
  margin-bottom: 0;
}

.line.text-indent-1 > span {
  font-weight: bold;
  color: #666;
}

.line.text-indent-2 > span {
  font-weight: bold;
  color: #666;
}

.line.text-indent-3 > span {
  font-weight: bold;
  color: #666;
}

.line-group.annotations > p {
  text-indent: 1.5em;
  margin-top: 10px;
}

.line-group.annotations > h4 {
  margin-top: 10px;
  margin: 1em 0;
}

.line-group.primary-content > p {
  text-indent: 1.25em;
  margin-top: 10px;
}


.child-link .range {
    font-size: 80%;
    color: #444;
    margin-bottom: 10px;
    display: block;
}

.body img {
    width:100%;
}
.body .heading {
    font-weight: bold;
    line-height: 130%;
}
