    hr {
        border-top: 2px solid black;
        margin-top: 40px;
        padding-top: 40px;
        background-color: white;
    }
    .body h1 {
        margin: 20px 0; /* same as paragraph spacing */
        padding-bottom: 10px;
        border-bottom: 1px solid #ddd;
        line-height: 1.25em;
    }

    .body .line-group {
        /* Add additional vertical spacing between groups. */
        padding: 5px 0;
    }

    .body .line {
        /* Paragraph spacing. */
        margin: 0 0 20px;
    }

    .body .level-num, .body .level-heading {
        /* Bold numbering and headings. */
        font-weight: bold;
        color: #666;
    }

    .body table {
        /* Override reset.css which sets with to 100%, which
           makes textual tables appear weirdly wide. */
        width: auto;
    }

    .body table caption {
        border-bottom: 1px solid #d5d5d5;
        font-weight: bold;
    }

    .body table th, .body table td {
        text-indent: 0; /* override */
        padding-right: 1.5em;
        padding-bottom: .25em;
        font-size: 14px; /* tables tend to be very wide */
    }

.body .annotations {
    border-top: 1px solid #ccc;
    padding-top: 20px; /* same as paragraph spacing */
    padding-bottom: 20px; /* same as paragraph spacing */
    padding-left: 1.5em;
    padding-right: 1.5em;
    margin-bottom: 20px; /* same as paragraph spacing, in case content follows such as deeply rendered chapters */
    background: #eee;
    color: #666;
}

.subheading {
    margin-bottom: 0;
    line-height: 1.67em;
    font-weight: bold
}

.form {
    max-width: 50em;
    margin: 1em;
    padding: 1em;
    border: 1px solid #ccc;
    background: #eee;
}
.form p {
    margin: 0;
}

.form p span {
    white-space: pre-wrap;
}

.line {
    margin-top: 10px;
}

.line:first-child {
    margin-top: 0;
}

.subheading {
    margin: 1em 0;
}

@media only screen and (max-width: 640px) {
    .annotations .line {
        padding-left: 0 !important;
    }
}

.child-link.placeholder a {
    color: rgba(90,160,190,.9);
}
.child-link.placeholder .range {
    color: #777;
}

.child-link .range {
    font-size: 80%;
    color: #444;
    margin-bottom: 5px;
}

.body .heading {
    font-weight: bold;
    line-height: 130%;
}
    .body .heading-1 {
        font-size: 25px;
    }
    .body .heading-2 {
        font-size: 22px;
    }
    .body .heading-3 {
        font-size: 19px;
    }
