/* force a vertical scrollbar on all pages so that we don't get horizontal jumps
   when navigating from a no-scrollbar to a with-scrollbar page and vice versa */
html{overflow-y:scroll}

html, body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main {
    flex: 1;
    flex-basis: auto;
}

.container {
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
}

a {
    color: rgba(67,127,190,1);
    text-decoration: underline;
}

header h1 a {
    text-decoration:none;
    color:#fff;
    font-size:24px;
    font-weight:normal;
}

header .container {
    margin-left: 150px;
    margin-top: 50px;
    top:50px;
}
.quiet {
    color:#777;
}

a:hover {
    color: rgba(42,65,150,1);
}

header {
    background-image: url("./header_bg.png");
    background-repeat: repeat-x;
    height: 173px;
    padding: 20px 0;
    margin-bottom: 10px;
    color: #fff;
}

header .container::before {
    content: url("./header_bg_textured.jpg");
    margin-left: 20px;
    color: black;
    position:absolute;
    top:0px;
    left:0px;
}

header .right {
    float: right;
}

header #sitename {
    margin: 0;
    color: #63666a;
    font-size: 20px;
}

header a {
    color: rgba(67,190,190,1);
    font-weight: bold;
}


footer {
    margin-top: 20px;
    padding: 10px 20px;
    background:#f5f5f5;
    font-size: 80%;
    color: #444;
}

footer p {
    margin: 0 0 .25em 0;
}

#sidebar {
    padding: 0 50px 0 0;
    font-size: 13px;
}

#sidebar h2 {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 10px;
}

#sidebar h3 {
    font-size: 12px;
    margin-top: 7px;
    margin-bottom: 5px;
}

#sidebar dt {
    font-weight: bold;
}

#content {
    font-size: 16px;
}

header .st-search-input {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

@media (max-width: 780px) {
    #sidebar {
        font-size: 11px;
    }
    #content {
        font-size: 14px;
    }
}

@media only screen and (max-width: 640px) {
    .container {
        padding-left: 0;
        padding-right: 0;
    }
    h1, h2, h3, h4, h5, h6, p, li {
        padding-left: 12px;
        padding-right: 12px;
    }
}
