/* force a vertical scrollbar on all pages so that we don't get horizontal jumps
   when navigating from a no-scrollbar to a with-scrollbar page and vice versa */
html{overflow-y:scroll}

html, body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main {
    flex: 1;
    flex-basis: auto;
}

.container {
    padding-left: 12px;
    padding-right: 12px;
    width: 100%;
}

a {
    color: rgba(67,127,190,1);
    text-decoration: underline;
}

header h1 a {
    text-decoration:none;
    color:#fff;
    font-size:24px;
    font-weight:normal;
    line-height:1.25em;
}

header .container {
    padding-left: 150px;
    margin-top: 50px;
    top:50px;
}
.quiet {
    color:#777;
}

a:hover {
    color: rgba(42,65,150,1);
}

header {
    background-image: url("./header_bg.png");
    background-repeat: repeat-x;
    height: 173px;
    padding: 20px 0;
    margin-bottom: 10px;
    color: #fff;
}

header .container::before {
    content: url("./header_bg_textured.jpg");
    margin-left: 20px;
    color: black;
    position:absolute;
    top:0px;
    left:0px;
}

header .right {
    float: right;
}

header #sitename {
    margin: 0;
    color: #63666a;
    font-size: 20px;
}

header a {
    color: rgba(67,190,190,1);
    font-weight: bold;
}

.search {
    width: 15em;
    z-index: 1000;
    position: relative;
}
.search input {
    width: 100%;
    padding: .5em;
    border-style: none;
    margin: 0px;
    
    /* font-size: 15px; */
}

.search .results {
    width: 100%;
    background-color: white;
    color: #555;
    opacity: 1;
    border-style: solid;
    border-width: 1px;
    border-color: grey;
}

.search .result {
    padding: 1em;
    font-size: 12px;
    border-bottom-color: rgb(221, 221, 221);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    line-height: 15px;
}

.search .result:hover {
    background-color: #f5f5f5;
}

.search .result h1 {
    font-size: 12px;
    margin: 0px;
}

.search .result p {
    padding: 0px;
}

.search a {
    color: inherit;
    font-weight: inherit;
    text-decoration: inherit;
}

.search button {
    width: 50%;
    margin: 0px;
    margin-bottom: 1px;
    padding:1em;
    outline-width: 1px;
    outline-color: black;
    outline-style: solid;
    background-color: white;
    border: 0px;
    cursor: pointer;
    background-color: #164E90;
    color:white;
}

.search button:disabled {
    cursor: default;
    background-color: white;
    color: gray;
}

.search mark {
    background-color:rgba(255,255,0,0.3);
    color:inherit;
}

footer {
    margin-top: 20px;
    padding: 10px 20px;
    background:#f5f5f5;
    font-size: 80%;
    color: #444;
}

footer p {
    margin: 0 0 .25em 0;
}

#sidebar {
    padding: 0 50px 0 0;
    font-size: 13px;
}

.cta {
    border-width: 1px;
    border-color: #103560;
    border-style: solid;
    padding: 1.5em;
    margin-top: 60px;
    text-align: center;
}

.cta a {
    text-decoration: inherit;
    color: white;
    border-width: 1px;
    border-color: black;
    border-style: solid;
    padding: .5em;
    background-color: #164E90;
    display: block;
    max-width: 15em;
    margin: auto;
}

.cta a:hover {
    background-color: #103560;
}

#sidebar h2 {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 10px;
}

#sidebar h3 {
    font-size: 12px;
    margin-top: 7px;
    margin-bottom: 5px;
}

#sidebar dt {
    font-weight: bold;
}

#content {
    font-size: 16px;
}

@media (max-width: 780px) {
    #sidebar {
        font-size: 11px;
    }
    #content {
        font-size: 14px;
    }
}
