[submodule "dc/council/laws/docs"]
	path = dc/council/laws/docs
	url = https://github.com/DCCouncil/dc-law-docs-laws.git
[submodule "uk/parliament/docs"]
	path = uk/parliament/docs
	url = https://github.com/DCCouncil/dc-law-docs-uk.git
